.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  text-anchor: middle;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 200px;
    padding: 5px;
    font: 12px "Trebuchet MS", sans-serif;
    color: white;
    background: #41343f;
    border: 5px;
    border-radius: 8px;
    pointer-events: none;
}

div.info {
    position: absolute;
    text-align: center;
    width: 200px;
    padding: 5px;
    font: 13px "Trebuchet MS", sans-serif;
    color: white;
    background: darkblue;
    border: 5px;
    border-radius: 8px;
    pointer-events: none;
}

.label,
.node--root {
  pointer-events: none;
}